<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guan.web.base.dao.SecurityMapper">
	<select id="queryShiroSecurity" resultType="java.util.Map">
		<![CDATA[
		SELECT
			shiro.shiro_path,
			security.is_used,
			CASE security.security_en
			WHEN 'anon' THEN
				'anon'
			WHEN 'admin' THEN
			'authc,roles[admin]'
			ELSE
				CONCAT('authc,perms[',IFNULL(security.security_en, 'admin'),':all]')
			END AS user_name
		FROM
			sys_base_shiro AS shiro
		LEFT JOIN sys_base_security AS security ON shiro.security_id = security.security_id
		]]>
	</select>
	
	
	<select id="queryUserSecurityInfo" resultType="java.util.Map">
		<![CDATA[
		SELECT
			security_id,
			security_en
		FROM
			sys_base_security 
		]]>
	</select>
	
	
</mapper>