<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guan.web.usercenter.dao.UserMapper">
    <!-- 查询所有UserBean -->  
    <select id="getUserByName" resultType="com.guan.web.usercenter.model.UserAuthBean"  parameterType="java.lang.String">  
        select 
			a.user_id,
			a.login_name,
			a.login_pwd,
			a.user_info_id,
			a.user_state,
			a.security_id,
			a.user_status,
			a.user_type,
			a.user_position,
			a.user_level,
			a.user_role,
			c.module_index,
			c.module_path
		from sys_login_user a left join sys_base_security b on a.security_id=b.security_id
			left join sys_base_module c on b.module_id=c.module_id  where
			a.login_name = #{userName}
    </select>
    
    <insert id="userLogin" parameterType="map">
	    INSERT INTO sys_user_login_log (login_id,user_id,login_ip,login_time) 
	    VALUES(#{login_id},#{user_id},#{login_ip},#{login_time})
	</insert>
	
    <select id="querySelectBoxOption" resultType="java.util.Map"  parameterType="java.lang.String">  
        select 
			item_code,
			item_name
		from sys_base_dict_item  where
			dict_code = #{dict_code} and isused='1'
    </select>
    
    
    <update id="updateExitTime" parameterType="java.util.Map" >
    update sys_user_login_log
    set loginout_time = now()
    where login_id = #{login_id,jdbcType=VARCHAR}
  </update>
</mapper>